.container {
    width: 100%;
    max-width: 1024px; 
    margin: 0 auto;
    background-color: pink;
  }
  .logo img {
    padding-top: 10px;
    width: 40px;
    height: 45px;
    animation: myAnim 5s linear alternate infinite;
  }
  .info{
    float: right;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
  .container div{
    margin-bottom: 15px;
  }
  h1{
    text-align: center;
  }
  .opt{
    margin: auto 200px;
    border: 2px solid black;
    padding: 30px;
    font-size: large;
  }
  img{
    margin: auto 200px;
    width: 624px;
  }
  @keyframes myAnim {
    from {
      margin-left: 0;
    }
    to {
      margin-left: 984px;
    }
   }